{# {% extends 'base.html.twig' %} #}

{# {% block body %} #}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1>Travel creation</h1>
        </div>

        <div class="panel-body text-center">
            {{ form_start(form, {'action': path('travel_new'), 'attr': {'class': 'form-horizontal'} }) }}
                {{ form_widget(form) }}
                <button type="submit" value="Create" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Saving travel" class="btn btn-default">Create</button>
            {{ form_end(form) }}
        </div>
    </div>
{# {% endblock %} #}
