{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="starter-template">
        <h1>Insert the cities and the cost to travel from one city to other city</h1>
    </div>
</div><!-- /.container -->
{% endblock %}