{# {% extends 'base.html.twig' %} #}

{# {% block body %} #}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1>City creation</h1>
        </div>

        <div class="panel-body text-center">
            {{ form_start(form, {'action': path('city_new'), 'attr': {'class': 'form-inline'} }) }}
                {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
                <button type="submit" value="Save" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Saving" class="btn btn-default">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{# {% endblock %} #}